.container {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.imgDiv{
    display: flex;
    justify-content: center;
}

.img1{
    visibility: visible;
    width: 200px;
    height: 200px;
    transition: all 1s;
}

.img2{
    visibility: visible;
    width: 200px;
    height: 200px;
    transition: all 1s;
}

.imgAfter{
    visibility: visible;
    width: 500px;
    height: 500px;
}

.pageNumber {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.inputDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    font-size: 17px;
    border: 1;
    border-radius: 10px;
    border-color: red;
    background-color: rgb(233, 233, 233);
    
}


.buttonDiv {
    display: flex;
    justify-content: center;
}

.answerButton {
    width: 100px;
    height: 50px;
    background-color: crimson;
    border-color: red;
    border-width: 7px;
    font-size: 17px;
    font-weight: bold;
}

.nextButtonDiv{
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.nextButton {
    width: 100px;
    height: 50px;
    background-color: dodgerblue;
    border-color: blue;
    border-width: 7px;
    font-size: 17px;
    font-weight: bold;
    
}

.show{
    visibility: visible;
    opacity: 1;
}