<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="css/sample.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="imgDiv">
            <img src="/img/azusa.jpg" class="img1">
            <div style="width: 50px"></div>
            <img src="/img/sakurako.jpg" class="img2">
        </div>

        <div class="pageNumber">
            <p class="countNumber"></p>
            <p>/</p>
            <p class="maxNumber"></p>
        </div>
        <div>
            <audio src="" controls class="mp3file"></audio>
        </div>
    
        <div class="inputDiv">
            <span>답: </span>
            <input type="text" id="userInput" onkeydown="if(event.keyCode==13) javascript:chackAnswer();" />
        </div>

        <div class="buttonDiv">
            <div class="nextButtonDiv">
                <button class="nextButton" onclick="next()">다음 문제</button>
            </div>
            <div style="width: 50px"></div>
            <button class="answerButton" onclick="chackAnswer()">정답 확인</button>
        </div>

        <div>
            <audio src="/audio/watBi.mp3" class="watBifile"></audio>
            <audio src="/audio/마따끄.mp3" class="matakufile"></audio>
        </div>
    </div>
    <script src="js/body.js"></script>
</body>
</html>