<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="css/sample.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="imgDiv">
            <img src="/img/azusa.jpg" class="img1">
            <div style="width: 50px"></div>
            <img src="/img/sakurako.jpg" class="img2">
        </div>

        <div class="pageNumber">
            <p class="countNumber"></p>
            <p>/</p>
            <p class="maxNumber"></p>
        </div>
        <div>
            <audio src="" controls class="mp3file"></audio>
        </div>
    
        <div class="inputDiv">
            <span>답: </span>
            <input type="text" id="userInput" onkeydown="if(event.keyCode==13) javascript:chackAnswer();" />
        </div>

        <div class="buttonDiv">
            <div class="nextButtonDiv">
                <button class="nextButton" onclick="next()">다음 문제</button>
            </div>
            <div style="width: 50px"></div>
            <button class="answerButton" onclick="chackAnswer()">정답 확인</button>
        </div>

        <div>
            <audio src="/audio/watBi.mp3" class="watBifile"></audio>
            <audio src="/audio/마따끄.mp3" class="matakufile"></audio>
        </div>
    </div>


    <script>
        let count = 1;
        document.querySelector('.watBifile').volume = 0.5;
        document.addEventListener('DOMContentLoaded', function(){

            document.querySelector('.countNumber').textContent = count;
            //음악 총 갯수 받아오기
            fetch('http://13.209.3.145:8080/getMusicLength',{
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if(!response.ok){
                    throw new Error('http 오류: ' + response.status);
                }
                return response.text();
            })
            .then(data => {
                console.log(data);
                document.querySelector('.maxNumber').innerHTML = data;
            })
            .catch(error => {
                console.error('에러 발생:', erorr);
            });


            // 맨 처음 음악 이름 받아오기
            fetch('http://13.209.3.145:8080/getMusicName',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(count)
            })
            .then(response => {
                if(!response.ok){
                    throw new Error('http 오류: ' + response.status);
                }
                return response.text();
            })
            .then(data => {
                const musicFile = "/music/" + data + ".mp3";
                document.querySelector('audio').src = musicFile;
            })
            .catch(error => {
                console.error('에러 발생:', erorr);
            });
        });

        function next(){
            //숫자 늘리기 O
            //음악 바꾸기 O
            //input박스 비우기 O
            //maxNumber와 값이 같아지면 버튼 없애기 O
            count++;
            document.querySelector('.countNumber').textContent = count; //올라간 숫자 업데이트
            document.querySelector('#userInput').value = ""; //input박스 비우기
            document.querySelector('.imgDiv').classList.remove('show'); //이미지 초기화
            document.querySelector('.nextButtonDiv').classList.remove('show');
            if(document.querySelector('.nextButton').innerHTML == "끝"){
                마지막페이지();
            }
            else{
                if(count == document.querySelector('.maxNumber').innerHTML){
                setTimeout(function(){
                    document.querySelector('.nextButton').innerHTML = "끝";
                }, 1000);
                }
                fetch('http://13.209.3.145:8080/getMusicName',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(count)
                })
                .then(response => {
                    if(!response.ok){
                        throw new Error('http 오류: ' + response.status);
                    }
                    return response.text();
                })
                .then(data => {
                    const musicFile = "/music/" + data + ".mp3";
                    document.querySelector('audio').src = musicFile;
                })
                .catch(error => {
                    console.error('에러 발생:', erorr);
                });
            }
        }

        function chackAnswer(){
            //input 박스내용 백엔드로 전달하기 O
            //받아온 값이 1이면 정답, 0이면 오답으로 처리
            //정답이면 버튼 사라지기
            //오답이면 ---이벤트
            const userInput = document.querySelector('#userInput').value;
            const dataToSend = {
                number: count,
                input: userInput
            };

            fetch('http://13.209.3.145:8080/checkAnswer',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => {
                if(!response.ok){
                    throw new Error('http 오류: ' + response.status);
                }
                return response.text();
            })
            .then(data => {
                if(data == 1){
                    console.log('성공');
                    document.querySelector('.img2').classList.add('imgAfter');
                    setTimeout(function(){
                        document.querySelector('.img2').classList.remove('imgAfter');
                    }, 2000);
                    document.querySelector('.nextButtonDiv').classList.add('show');
                    document.querySelector('.watBifile').play();

                }else if(data == 0){
                    console.log('실패');
                    document.querySelector('.img1').classList.add('imgAfter');
                    setTimeout(function(){
                        document.querySelector('.img1').classList.remove('imgAfter');
                    }, 2000);
                    document.querySelector('.matakufile').play();
                }
            })
            .catch(error => {
                console.error('에러 발생:', erorr);
            });
        }

        function 마지막페이지(){
            window.location.href = '/endPage';
        }
    </script>
</body>
</html>