<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>endPage</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>끝</h1>
        <img src="/img/ㅎㅇ.gif" style="width: 500px; height: 500px;">
    </div>

</body>
</html>