<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- 404 오류 잡기 구문 -->
    <link rel="stylesheet" href="css/sample.css">
    <title>메모리얼 맞추기</title>
</head>
<body>
    <div class="container">

    </div>
    <h1 style="text-align: center;">캐릭터 메모리얼 맞추기</h1>
</body>
</html>