<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- 404 오류 잡기 구문 -->
    <title>Document</title>
</head>
<body>
    <h1>메모리얼 맞추기</h1>
</body>
</html>