<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메모리얼 브금 맞추기</h2>
    <button onclick="goToURL()">시작</button>
    
    <script>
        function goToURL(){
            window.location.href = '/quiz';
        }
    </script>
</body>
</html>