<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>메모리얼 브금 맞추기</h1>
        <img class="img" src="/img/노노미.jpg">
        <div>
            <button class="button" onclick="goToURL()">시작</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>